* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
.box {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation-name: shape;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    transform: rotate(0deg);
  
  }
  @keyframes shape {
    100% {
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      transform: rotate(0deg);
      animation-delay: 1s;

    }
  
    0% {
      width: 100px;
      height: 100px;
      animation-duration: 0.5s;
     border-radius: 0%;
      transform: rotate(360deg);
      animation-delay: 0.5s;
     
    }
  }




/* .box {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  animation-name: shape;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  transform: rotate(0deg);

}
@keyframes shape {
  100% {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    transform: rotate(0deg);
  }

  0% {
    width: 35px;
    height: 35px;
    animation-duration: 0.5s;
    border-radius: 50%;
    transform: rotate(360deg);
   
  }
} */
